@import "header";
@import "index";
.header{
    height: 100px;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-shadow: 0 2px 5px green;
    align-items: center;
    background-color: black;

    .nav__lista{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        font-family: 'Montserrats', sans-serif;
        font-size: 20px;
    
        .nav__enlace{
            color: green;
            text-decoration: none;
            text-transform: uppercase;
            transition: color .5s;
        }
    }

}
